.section {
  padding-top: 99px;
  padding-bottom: 39px;
  background-color: $color-light;

  &__title {
      font-weight: 500;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 39px;
    }

  &__description {
    color: $color-secondary;
    text-align: center;
    line-height: $line-height-lg;
    margin-bottom: 9px;
  }
}

