/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
} */

:root {
  --color-black: rgb(0, 0, 0);
  --color-primary: rgb(52, 84, 122);
  --color-secondary: rgb(114, 114, 114);
  --color-gray-light: rgb(238, 239, 241);
  --color-light: rgb(249, 249, 249);
  --color-white: rgb(255, 255, 255);

  --font-size: 16px;
  --font-family: 'Roboto', sans-serif;
  --letter-spacing: 0.1em;

  --line-height-normal: 1.2;
  --line-height-lg: 1.64;

  --container-primary: 1110px;
  --container-sm: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2); /* 10px */
  --gap-lg: calc(var(--gap) * 2); /* 40px */
}

* {
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: normal;
  line-height: var(--line-height-normal);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}

.container--sm {
  width: min(100% - var(--gap-lg), var(--container-sm));
  /* margin-inline: auto; */
}

.header {
  background-color: var(--color-gray-light);
  padding-top: 66px;
  min-height: 692px; /* === 700 можно не устанавливать  */
}

.navbar {
  margin-bottom: 134px;
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  margin-left: -10px; /* компенсируем несовпадение вертикали из-за паддингов */
}
/* .navbar__item {
} */
.navbar__link {
  color: var(--color-black);
  padding: var(--gap-sm);
  display: block;
  /* transition: scale 0.1s; */
  letter-spacing: var(--letter-spacing);
}

.navbar__link--main {
  color: var(--color-primary);
  font-weight: 500;
}

.navbar__link:hover {
  color: var(--color-primary);
  /* scale: 1.1; */
  /* font-weight: 500; */
}
.content {
  max-width: var(--container-sm);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px; /* регулируем положение текста content__description под Дизайн и верстка */
}
.content__title {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 13px;
  margin-bottom: 13px;
}
.content__description {
  color: var(--color-secondary);
  margin-bottom: 22px; /* положение кнопки */
  line-height: var(--line-height-lg); /* === */
}
.content__link {
  color: var(--color-white);
  background-color: var(--color-primary);
  letter-spacing: var(--letter-spacing);
  padding: 0.5em;
  min-width: 225px;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 100px; /* === 112px */
  padding-bottom: 39px;
  background-color: var(--color-light);
}

.section__title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.section__description {
  color: var(--color-secondary);
  text-align: center;
  line-height: var(--line-height-lg);
  margin-bottom: 9px; /* === видео */
}

/* ================================== */
.about {
  padding-top: 116px;
  padding-bottom: 80px;
  padding-left: 12px;
}
.about__title {
  margin-bottom: 37px;
}
.about__description {
  margin-bottom: 13px;
}

.process__title {
  padding-left: 10px;
}
.process__description {
  padding-left: 15px;
}
/* ================================== */

.experience {
  background-color: var(--color-primary);
  padding: 98px 0; /* === 100px 0 */
  color: var(--color-white);
}
.experience__container {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
  flex-wrap: wrap;
}
.experience-item {
  display: flex;
  gap: var(--gap);
}
.experience-item__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.experience-item__number {
  font-size: 21px;
  font-weight: 500;
}
/* .experience-item__text {
} */
.experience-item__image {
  order: -1;
}

/* .about и .process назначен свой класс section */
/* .process {
  padding-top: 112px;
  padding-bottom: 100px;
}
.process__title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}
.process__description {
  color: var(--color-secondary);
  text-align: center;
} */

.video {
  background-color: var(--color-light);
  padding-bottom: 94px;
}
.video__iframe {
  border: 0;
  height: 600px;
  width: 100%;
  /* border: 1px solid var(--color-secondary);
  background-color: var(--color-gray-light); */
}

.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 49px 0;
}
.footer_name {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 8px;
}
.footer__copyright {
  font-size: 13px;
  padding-left: 8px;
}

@media (max-width: 810px) {
  .navbar {
    margin-bottom: 90px;
  }
  .experience__container {
    justify-content: center;
  }
  .content__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 660px) {
  .navbar {
    margin-bottom: 50px;
  }
  .header {
    padding-top: 33px;
  }
  .content__link {
    min-width: 150px;
    min-height: 45px;
  }
  .about {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .content__title {
    font-size: 2rem;
  }
  .section__title {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .header {
    min-height: 576px;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 26px;
  }
  .video {
    padding-bottom: 50px;
  }
  .footer {
    padding: 25px 0;
  }
}

@media (max-width: 390px) {
  .navbar {
    margin-bottom: 20px;
  }
  .experience {
    padding: 60px 0;
  }
  .video {
    padding-bottom: 30px;
  }
}
